<footer class="c-footer u-color--white u-margin-top-huge">
  <div class="o-layout u-margin-top-large">
    <div class="o-layout__item u-1/3">
      <h3 class="c-footer-text">
        Subscribe to stay tuned on my progress and releases!
      </h3>
    </div>

    <div class="o-layout__item u-margin-top-small u-2/3">
      <form class="c-form">
        <div class="o-layout">
          <div class="o-layout__item u-3/4">
            <input type="email" class="c-form__item" placeholder="Type your Email" />
          </div>

          <div class="o-layout__item u-1/4">
            <button class="c-form__item c-btn c-btn--secondary">Subscribe</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="o-layout u-margin-top-large">
    <div class="o-layout__item u-1/2">
      <ul class="c-footer-list">
        <li class="c-footer-element">
          <a href="{{ site.website_url }}" class="c-link c-link--white">© 2017 Suttna</a>
        </li>
        <li class="c-footer-element">
          <a href="{{ site.website_url }}//terms-and-conditions" class="c-link c-link--white">Terms</a>
        </li>
        <li class="c-footer-element">
          <a href="{{ site.website_url }}/privacy-policy" class="c-link c-link--white">Privacy</a>
        </li>
    </div>

    <div class="c-footer__sm o-layout__item u-1/2">
      <ul class="c-footer__sm__list c-footer-list">
        <li class="c-footer-element">
          <a href="https://instagram.com/{{ site.instagram_username }}">
            {% img instagram.png %}
          </a>
        </li>
        <li class="c-footer-element">
          <a href="https://facebook.com/{{ site.facebook_username }}">
            {% img facebook.png %}
          </a>
        </li>
        <li class="c-footer-element">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            {% img twitter.png %}
          </a>
        </li>
        <li class="c-footer-element">
          <a href="https://github.com/{{ site.github_username }}">
            {% img github.png %}
          </a>
        </li>
    </div>
  </div>
</footer>
