.c-post {
  text-decoration: none !important;
}

.c-post__image {
  border-radius: 20px;
}

.c-post__image--rotated {
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.c-post__title {
  font-weight: 900;
  font-size: 30px;
  color: #0066FF;
  text-align: justify;
}

.c-post__content {
  color: #4F4F4F;
  text-align: justify;
}

.c-post__date {
  font-size: 16px;
  color: #BDBDBD;
  text-align: justify;
}

.c-post__content, .c-post__date {
  margin-top: 15px;
}
