.c-header {
  padding-top: 120px;
  height: 700px;

  @include mq($until: desktop) {
    .header__menu {
      display: none;
    }
  }
}

.c-header__image {
  float: left;
  width: 420px;
}

.c-header__info {
  float: left;
  width: 500px;
  margin-left: 40px;
  margin-top: 25px;
}
