.c-alert {
  position: fixed;
  top: 10px;
  width: 90%;
  transform: translate(-27%, 0);
  left: 30%;
  padding: 1em;
  margin-bottom: 1.5em;
  color: #BC6705;
  background: #fdcfaa;
  border: 1px solid #fbba78;
  border-radius: 3px;
  z-index: 99999;
}

.c-alert h4 {
  margin: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.c-alert p {
  margin: 0;
}

.c-alert__close {
  cursor: pointer;
  position: absolute;
  padding: 0 0.3em;
  top: 10px;
  right: 10px;
  float: right;
  color: inherit;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
  text-decoration: none;

  &:before {
    content: '\2716';
  }
}

.c-alert--success {
  background-color: #8ac680;
  border-color: #65b65d;
  color: #20431E;
}

.c-alert--success:before,
.c-alert--success:after {
  background: #8ac680;
  border-color: #65b65d;
}

.c-alert--danger {
  background-color: #ea929e;
  border-color: #e26771;
  color: #7F181D;
}

.c-alert--danger:before,
.c-alert--danger:after {
  background: #ea929e;
  border-color: #e26771;
}

.c-alert--info {
  background-color: #8fcfe0;
  border-color: #67b9d4;
  color: #1E556B;
}

.c-alert--info:before,
.c-alert--info:after {
  background: #8fcfe0;
  border-color: #67b9d4;
}
