.c-link {
  display: inline-block;
  color: black;
  text-decoration: none;
  vertical-align: top;
  font: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.c-link--white {
  color: white;
}
