.c-btn {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: $global-transition;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.c-btn--slack, .c-btn--teams {
  padding: 10px 15px;
  color: white;
  font-weight: 500;
}

.c-btn--slack {
  background-color: #653A5F;
  background: -webkit-linear-gradient(left, #653A5F, #722A67);
  background: -o-linear-gradient(left, #653A5F, #722A67);
  background: -moz-linear-gradient(left, #653A5F, #722A67);
  background: linear-gradient(left, #653A5F, #722A67);
}

.c-btn--teams {
  background-color: #5558AF;
  background: -webkit-linear-gradient(left, #5558AF, #595FFF);
  background: -o-linear-gradient(left, #5558AF, #595FFF);
  background: -moz-linear-gradient(left, #5558AF, #595FFF);
  background: linear-gradient(left, #5558AF, #595FFF);
}

.c-btn__icon {
  margin-top: -3px;
  float: left;
}

.c-btn__text {
  padding-left: 10px;
  float: left;
}

.c-btn--primary {
  background: $suttna-primary-color;
  color: white;
}

.c-btn--secondary {
  background-color: unset;
  color: white !important;
  border: 2px solid white !important;
}

.c-btn--no-rounded {
  border-radius: 3px;
}

.c-btn--small {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
  padding: $inuit-global-spacing-unit-large $inuit-global-spacing-unit-large;
}
