.c-form {
}

.c-form__item {
  display: block;
  border: 2px solid $suttna-primary-color;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}

.c-form__item > label {
  display: block;
  float: left;
  margin-top: -25px;
  background: #FFFFFF;
  height: 28px;
  padding: 2px 5px 2px 5px;
  color: $suttna-primary-color;
  font-size: 20px;
  overflow: hidden;
}

.c-form__item--required:after {
  content: " *";
  color: #EB5757;
  position: absolute;
  right: 15px;
  top: 14px;
  font-size: 25px;
}

.c-form__item--required {
  position: relative;
}

.c-form input, .c-form textarea, .c-form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  line-height: 25px;
  font-size: 16px;
}

.c-form input[type='text']:focus,
.c-form input[type='date']:focus,
.c-form input[type='datetime']:focus,
.c-form input[type='email']:focus,
.c-form input[type='number']:focus,
.c-form input[type='search']:focus,
.c-form input[type='time']:focus,
.c-form input[type='url']:focus,
.c-form input[type='password']:focus,
.c-form textarea:focus,
.c-form select:focus {
}

.c-form__item__desc {
  background: $suttna-primary-color;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: white;
  font-size: 15px;
}

.c-form textarea {
  resize: none;
}

.c-form__submit {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  padding: 10px 15px;
  border-radius: 3px;
  background: #aa00d5;
  color: white; border: none;
}

.c-form input[type='submit']:hover,
.c-form input[type='button']:hover{
  background: #6B9FFF;
  color:#fff;
}
