---
layout: default
---
<article class="c-post u-margin-top-large" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="c-post__title u-text-align--center">
    {{ page.title | escape }}
  </header>

  <div class="c-post__content u-margin-top-small markdown-body" itemprop="articleBody">
    {{ content }}
  </div>

  <p class="c-post__date u-margin-top-small">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {{ page.date | date: date_format }}
    </time>
    {% if page.author %}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
    {% endif %}
  </p>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
